<%@page_title = "#{@book.name} | 我就爱看书"%>

<%- model_class = Book -%>
<div class="page-header">
  <h1><%=@book.name.to_s.html_safe%></h1>  
</div>

<div class=row id="items">
	<%=render @chapters%>
</div>
<div class="row">
    <%=render 'shared/pagination', models: @chapters%>
</div>
