<%@page_title = "#{@chapter.book.name} |  #{@chapter.name}"%>
<h3 style="text-align:center;margin-top:0px">
  <%= @chapter.name %>
</h3>
<%=render "toolbar"%>
  <%=raw @chapter.content.html_safe %>
<%=render "toolbar"%>
