<%@page_title = "#{@cat.name} | 591小说网"%>
<%- model_class = Cat -%>
<div class="page-header" id="items">
  <h1><%=@cat.name%></h1>
</div>

<div class=row>
	<%=render @books%>
</div>
<div class="row">
    <%=render 'shared/auto_load_next', models: @books%>
</div>

